In [5]:
names=['Ali','Joe','Doe','Boi']

print(names)
print(names[0])
print(names[1])
print(names[2])
print(names[3])

['Ali', 'Joe', 'Doe', 'Boi']
Ali
Joe
Doe
Boi

In [10]:
names.append("Khan")

print(names)

['Ali', 'Joe', 'Doe', 'Boi', 'Khan']

In [12]:
names.insert(1, "mike")

print(names)

['Ali', 'mike', 'Ali', 'Joe', 'Doe', 'Boi', 'Khan']

In [13]:
names.remove("Joe")

print(names)

['Ali', 'mike', 'Ali', 'Doe', 'Boi', 'Khan']

In [14]:
names.pop(0)

print(names)

['mike', 'Ali', 'Doe', 'Boi', 'Khan']

In [15]:
print(names.index("Doe"))

2

In [17]:
names=[]
for i in range(5):
    name = input("Enter name: ")

    names.append(name)
print(names)

['1', '2', '3', '4', '5']

In [6]:
print(len(names))

4

In [7]:
age=[3,4,5,6,6,7,8,9]

print(age.count(6))

2

In [10]:
print(names.count("Boi"))

1

In [13]:
students=["Ali","Doe","John"]
employees=["Hassan","Sarfaraz","Kashif"]

user_name=input("Enter your name: ")

if user_name  in students:
    print("Yes user is in students")
elif user_name in employees:
    print("Yes user is in employee")
else:
    print("User is not found in any list")

User is not found in any list

In [14]:
names=["John","Boi","Doe"]
age=[3,4,5,6,7,8]
names.reverse()
age.reverse()
print(names)
print(age)

['Doe', 'Boi', 'John']
[8, 7, 6, 5, 4, 3]

In [16]:
names=["John","Doe","Boi"]
abcd="Kashif"
print(abcd in names)
if abcd in names:
    print(f"{abcd} is in list")

False

In [20]:
ages=[23,45,67,90,13]

max_age=max(ages)
min_age=min(ages)

print(f"Max age: {max_age}")
print(f"Min age: {min_age}")

Max age: 90
Min age: 13

In [21]:
name=["Ali","John"]

for nm in names:
    print(nm)

John
Doe
Boi

In [26]:
age=[1,2,3,4,55,44,66]
age=input("Enter your age")
age=int(age)
    
if age>=18:
    print("18 above")
else:
    print("Under 18")

Under 18

In [29]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])

6

In [ ]:
matrix.append=

In [34]:
numbers=(1, 2, 3)
print(numbers)

(1, 2, 3)

In [35]:
person=("Alice", 34, "Haider")
print(person[0])
print(person[1])

Alice
34

In [36]:
coordinates = ((10,20),(30,40))
print(coordinates[1])

person[1]=26

(30, 40)

TypeError: 'tuple' object does not support item assignment